.pand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pandBove {
  width: 70%;
}

.pandArrow{
width: 70%;
margin: 1rem;
}

.pandArrow img{
  width: 2rem;
  float: left;
  height: auto;
}

.pandBoveBeschrijving {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pandDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.pand {
  width: 100%;
  height: 100%;
}

.beschrijving {
  width: 100%;
}

.pandBoveImg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pandBoveImg img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.pandOnder{
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formPand {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 1rem;
  padding: 2rem 0;
  background-color: #fee4b3;
  border: solid 1px #ffd686;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 1px #d9d9d9;
}


.widht {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0.5rem;
}

.formRow {
  display: flex;
  flex-direction: row;
  width: 72%;
}

.formRow input {
  width: 100%;
}

textarea {
  border: solid 1px #feb544;
  box-shadow: inset 1px 1px 4px 2px #d9d9d9;
  width: 100%;
  height: 8rem;
  border-radius: 5px;
}

.inputPand {
  border: solid 1px #feb544;
  box-shadow: inset 1px 1px 4px 2px #d9d9d9;
  height: 1.5rem;
  border-radius: 5px;
}


.secondaire {
  margin-top: 1.5rem;
  border: solid 1px #feb544;
  border-radius: 20px;
  padding: 0.4rem 1.6rem;
  background-color: #fff;
  color: #feb544;
  transition: 0.3s;
}

.secondaire:active {
  transform: translateY(4px);
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
